$game-tile-dim: 30px;

* {
  box-sizing: border-box;
}

.game-ui-container {
  display: flex;
  justify-content: space-around;
}

.game-board {
  display: grid;
  grid-template: repeat(10, $game-tile-dim) / repeat(10, $game-tile-dim);
  position: relative;
}

.game-tile {
  border: 1px solid #000;
}

.blank-tile {
  background-color: #e1e1e1;
}

.missed-attack {
  background-color: #000;
}

.hit-ship {
  background-color: #d70000;
}

.sunken-ship {
  background-color: #e1e185;
}

.ships {
  background-color: #2300cf87;
  position: absolute;
  border: 2px solid #000;
}

.hide {
  display: none;
}
